@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}
.primary-btn{
  background-color: transparent;
  border: 1px solid rgb(84, 82, 92);
  border-radius: 0;
  font-size: large;
  font-weight: normal;
  padding: 0 20px;
}
.primary-btn:hover{
  background-color: #0094cf;
}

.section-title{
  /* text-5xl font-bold */
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.subtitle{
  color: rgb(200, 199, 199);
  /* font-weight: lighter; */
}
