@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.common-btn{
  position: relative;
  overflow: hidden;

  padding: 10px 22px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
}
.common-btn::before{
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #0094cf;

  z-index: -1;

  transition: transform .2s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.common-btn:hover::before{
  transform: scaleX(1);
}
.common-btn{
  transition: color .2s ease-in;
  z-index: 1;
}
.common-btn:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.section-title{
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  font-weight: bold;
  color:#fff;
}
.subtitle{
  color: rgb(200, 199, 199);
}
